<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start!!</title>
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>

</head>

<body>
    <!DOCTYPE html>
    <html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>page3</title>
        <link rel="stylesheet" href="page3.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="clock">
            <div class="hour1">
                <div id="hr" class="hr"></div>
            </div>
            <div class="min">
                <div id="mn" class="mn"></div>
            </div>
            <div class="sec">
                <div id="sc" class="sc"></div>
            </div>
        </div>

        <div id='box' class="box">
            <div id='timerBox' class="timerBox">
                <div id="time" class="time">00:00:00</div>
            </div>
            <div class="btnBox">
                <button id="startbtn" class="fa fa-play" aria-hidden="true">입실</button>
                <button id="pausebtn" class="fa fa-pause" aria-hidden="true">탈출</button>

            </div>
        </div>

        <body>
            <center>
                <div id="container">
                    <center>
                        <h1><strong>To Do List</strong></h1>
                    </center>
                    <div><input id="todo">
                        <button id="add-button">🔎</button>
                    </div>
                    <span></span><br>
                    <center>
                        <div id="todo-list"></div>
                    </center>
                </div>
            </center>
        </body>


        <script src="page3.js"></script>
    </body>

    </html>

</body>

</html>