<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="main-wrap">
            <header>
                <div class="sel-lang-wrap">

                </div>
                <img src="/캠프.png"
                    style="display: block; object-fit: cover; border-radius: 3px; width: 124.32px; height: 124.32px; transition: opacity 100ms ease-out 0s;">
                <h1 class="title">시간 절대 안백경!</h1>
                <div class="logo-wrap">
                    <img src="/백경씨수정본.png">
                </div>
            </header>
            <section class="login-input-section-wrap">
                <div class="login-input-wrap">
                    <input id="id" placeholder="Email" type="text"></input>
                </div>
                <div class="login-input-wrap password-wrap">
                    <input id="password" placeholder="Password" type="password"></input>
                </div>
                <div class="login-button-wrap">
                    <p id="button">로그인</p>
                </div>
                <a href="/register">
                    <p class="forget-msg">회원가입</p>
                </a>
            </section>
        </div>
    </div>
</body>

</html>