<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/register.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>

<body>

    <body>
        <h1 id="title">Create Account</h1>


        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content">

                <!-- laboratory -->
                <div>
                    <h3 class="join_title"><label for="laboratory">laboratory</label></h3>
                    <span class="box laboratory_code">
                        <input type="text" id="laboratory" class="int" maxlength="20">
                        <!-- <select id="laboratory" class="sel">
                            <option value="">laboratory</option>
                            <option value="이운식교수님">이운식교수님</option>
                            <option value="옥영석교수님">옥영석교수님</option>
                            <option value="고시근교수님">고시근교수님</option>
                            <option value="구평회교수님">구평회교수님</option>
                            <option value="김영진교수님">김영진교수님</option>
                            <option value="김민수교수님">김민수교수님</option>
                            <option value="서원철교수님">서원철교수님</option>
                            <option value="이지환교수님">이지환교수님</option>
                            <option value="유태선교수님">유태선교수님</option>
                            <option value="이유신교수님">이유신교수님</option>
                            <option value="최성철교수님">최성철교수님</option>
                        </select>
                    </span> -->
                        <span class="error_next_box">필수 정보입니다.</span>
                </div>

                <!-- NAME -->
                <div>
                    <h3 class="join_title"><label for="name">Name</label></h3>
                    <span class="box int_name">
                        <input type="text" id="name" class="int" maxlength="20">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- email -->
                <div>
                    <h3 class="join_title">
                        <label for="email">E-mail</label>
                    </h3>
                    <span class="box int_id">
                        <input type="text" id="email" class="int">
                        <span class="step_url"></span>
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW1 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">Password</label></h3>
                    <span class="box int_pass">
                        <input type='password' id="password" class="int" maxlength="20">
                        <span id="alertTxt">사용불가</span>
                        <img src="" id="pswd1_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW2 -->
                <div>
                    <h3 class="join_title"><label for="pswd2">Re-enter Password</label></h3>
                    <span class="box int_pass_check">
                        <input type='password' id="confirm-password" class="int" maxlength="20">
                        <img src="" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- JOIN BTN-->
                <div class="btn_area">
                    <p type="button" id="btnJoin">
                        <span id="gojoin">Join</span>
                    </p>
                </div>



            </div>
            <!-- content-->

        </div>
    </body>

</html>

</body>

</html>