:root {
  font-family: Impact, Charcoal, sans-serif;
  background: #2980b9;
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #9ee5ff,
    rgb(38, 168, 255)
  );
  background: linear-gradient(to top, #ffffff, #9ee5ff, rgb(38, 168, 255));
  --border-gray-color: #dadada;
  --naver-green-color: #2980b9;
  --naver-green-border-color: #2980b9;
}

html {
  height: 0.01%;
}
a {
  text-decoration-line: none;
}

body {
  background: var(--body-background-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-size: 3rem;
  color: #e2f81a;
  text-shadow: 3px 3px 3px #e8f717, 3px 3px 3px #f10ff1;
  opacity: 0.5;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
}
.main-container .main-wrap {
  width: 768px;
}
.main-container .main-wrap .sel-lang-wrap .lang-select {
  color: var(--font-color);
  border: solid 1px var(--border-gray-color);
}

.main-container .main-wrap .logo-wrap img {
  width: 50%;
  height: 400px;
}

.main-container .main-wrap header .sel-lang-wrap {
  display: flex;
  justify-content: flex-end;
}

.main-container .main-wrap header .logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input-section-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-wrap {
  width: 465px;
  height: 48px;
  border: solid 1px var(--border-gray-color);
  background: white;
}
.password-wrap {
  margin-top: 13px;
}
.login-input-wrap input {
  border: none;
  width: 430px;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
  height: 30px;
}
.login-button-wrap {
  padding-top: 13px;
}
.login-button-wrap button {
  width: 465px;
  height: 48px;
  font-size: 18px;
  background: var(--naver-green-color);
  color: white;
  border: solid 1px var(--naver-green-border-color);
}
